.l-grid.l-grid-2 {
  display: grid;
  gap: var(--space-grid);
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.l-grid.l-grid-3 {
  display: grid;
  gap: var(--space-grid);
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.l-grid.l-grid-4 {
  display: grid;
  gap: var(--space-row);
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.u-spacer-6 {
  height: var(--space-6);
}

.u-mt-4 {
  margin-top: var(--space-4);
}

.u-mt-5 {
  margin-top: var(--space-5);
}

.l-row-end {
  justify-content: flex-end;
}

.l-row-between {
  justify-content: space-between;
}

@media (max-width: 960px) {
  .l-grid.l-grid-3 {
    grid-template-columns: 1fr;
  }

  .l-grid.l-grid-2 {
    grid-template-columns: 1fr;
  }

  .l-grid.l-grid-4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
